/***** RESET *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    all: unset;
}

ul {
    list-style-type: none;
}

/***** UTILITIES ******/

.bg-1 {
    background-color: #255ee9;
}
.bg-2 {
    background: url(../img/jumbo.png);
    background-size: cover;
}

.bg-3 {
    background-color: #fff;
}

.bg-4 {
    background-color: #23272a;
}

.bg-5 {
    background-color: #7288da;
}

.bg-6 {
    background-color: #f6f6f6;
}

.color-1 {
    color: #fff;
}

.color-2 {
    color: #000;
}

.color-3 {
    color: #7288da;
}

.font-1 {
    font-size: 70px;
}

.font-2 {
    font-size: 30px;
}

.font-3 {
    font-size: 45px;
}

/**** COMMON *****/

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
    border-radius: 60px;
    padding: 15px 25px;
}

header,
.section-7 .wrapper {
    padding: 40px 0;
}

main .section {
    padding: 50px 0;
}

.section > div,
nav {
    margin: 0 auto;
}

.wrapper,
nav {
    width: 80%;
}

.wrapper img {
    width: 100%;
}

.wrapper .content-1,
nav .links {
    flex-grow: 2;
}

main .wrapper .content-2 {
    width: 700px;
    flex-shrink: 0;
}

.wrapper p {
    line-height: 45px;
    text-align: justify;
    padding: 80px 0;
}

.logo img {
    height: 100%;
    width: 240px;
}
/**** HEADER ***/

nav {
    display: flex;
    font-size: 25px;
}

nav .links {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

nav .btn.login {
    text-align: center;
}

/***** MAIN ****/

/* SECTION 1 */

main .section-1 .wrapper {
    width: 60%;
    text-align: center;
    padding: 200px;
}

main .section-1 .wrapper p {
    padding: 80px 0 70px;
    text-align: justify;
}

main .section-1 .wrapper .btn {
    padding: 30px;
    margin: 30px;
}

/* SECTION 2 */

main .section-2 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 3 */

main .section-3 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

/* SECTION 4 */

main .section-4 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION 5 */

main .section-5 .wrapper h2,
main .section-5 p {
    text-align: center;
}

main .section-5 .wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

main .section-5 .wrapper div h2 {
    padding: 60px;
    margin-bottom: 80px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

/***** FOOTER *****/

/* SECTION 6 */

footer .section-6 {
    padding-top: 5px;
}

footer .section-6 .wrapper {
    margin-top: 160px;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid #677bc3;
}

.section-6 .wrapper .content-1 {
    display: flex;
    font-size: 20px;
}

.section-6 .wrapper .content-1 > div {
    flex-grow: 1;
}

.section-6 .wrapper .content-1 ul li {
    padding: 25px 0;
}

.section-6 .content-2 {
    margin-right: 130px;
}

.section-6 .content-2 .language {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 0;
}

.section-6 .content-2 .language img {
    width: 50px;
}

.section-6 .content-2 .social > * {
    margin-right: 30px;
}

/* SECTION 7 */

footer .section-7 .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4d5a87;
    padding-bottom: 100px;
}
